img {
    width: 600px;
}
body {
    text-align: center;
    font-family: 'Arial';
    font-size: x-large;
    background: midnightblue;
    color: forestgreen;
    letter-spacing: 0px ;
}

#title {
    letter-spacing: 6px;
    font-family: 'American Typewriter';
}
#Yang {
    font-family: 'American Typewriter'
    font-size: x-large;

}